Repository ykishi0531/sandbox, changes with the labels that .github/labeler.yml gives for each.
All labels: test/api, test/client, test/database

.github/labeler.yml:

test/api:
- api/**/*
test/client:
- client/**/*
test/database:
- database/**/*

Update label.yml
  .github/workflows/label.yml
Labels: none

change api
  api/tst
Labels: test/api

Update label.yml
  .github/workflows/label.yml
Labels: none

change client
  client/tst
Labels: test/client

change client2
  client/tst
Labels: test/client

change client2
  client/tst
Labels: test/client

change client
  client/tst
Labels: test/client

change client3
  client/tst
Labels: test/client

change client4
  client/tst
Labels: test/client

change client3
  client/tst
Labels: test/client

change client4
  client/tst
Labels: test/client

change client3
  client/tst
Labels: test/client

change client4
  client/tst
Labels: test/client

yml作成
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

test
  test
Labels: none

test2
  testA
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none

Update getBranchName.yml
  .github/workflows/getBranchName.yml
Labels: none
